<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>Weather-Data</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<link rel="stylesheet" href="/css/app.css">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
	integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
	crossorigin="anonymous"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
	integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
	crossorigin="anonymous"></script>
<script
	src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
	integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
	crossorigin="anonymous"></script>
</head>

<body>

	<div class="container">

		<div class="card">

			<div class="card-body" th:switch="${detail}">
				<div class="row">
					<div class="col-md-4 p-2">
						<a href="/weather/list/refresh"><i class="fa fa-reply"
							aria-hidden="true"></i> [[#{BL002}]]</a>
					</div>
				</div>
				<div class="row">
					<div class="col-md-5">
						<h1 class="card-title" th:case="null">[[#{ER002}]]</h1>
						<h1 class="card-title" th:case="*"
							th:text="${detail.location?:'-'}"></h1>
					</div>
					<div class="col-md-2">
						<h2>
							<i class="fa fa-sun-o" aria-hidden="true"></i>
							[[${detail.sunriseTimeDisplay?:'-'}]]
						</h2>
					</div>
					<div class="col-md-2">
						<h2>
							<i class="fa fa-moon-o" aria-hidden="true"></i>
							[[${detail.sunsetTimeDisplay?:'-'}]]
						</h2>
					</div>
					<div class="col-md-3">
						<h2>
							<i class="fa fa-calendar" aria-hidden="true"></i>
							[[${detail.dateDisplay?:'-'}]]
						</h2>
					</div>
				</div>


				<ul class="nav nav-tabs" role="tablist" id="weatherTabs">
					<li class="nav-item"><a class="nav-link active"
						data-toggle="tab" href="#summary"><i class="fa fa-search"
							aria-hidden="true"></i> [[#{NL007}]]</a></li>
					<li class="nav-item"><a class="nav-link" data-toggle="tab"
						href="#precip"><i class="fa fa-shower" aria-hidden="true"></i>
							[[#{NL008}]]</a></li>
					<li class="nav-item"><a class="nav-link" data-toggle="tab"
						href="#wind"><i class="fa fa-cloud" aria-hidden="true"></i>
							[[#{NL009}]]</a></li>
					<li class="nav-item"><a class="nav-link" data-toggle="tab"
						href="#temp"><i class="fa fa-thermometer-full"
							aria-hidden="true"></i> [[#{NL010}]]</a></li>
					<li class="nav-item"><a class="nav-link" data-toggle="tab"
						href="#appTemp"><i class="fa fa-thermometer-full"
							aria-hidden="true"></i> [[#{NL011}]]</a></li>
				</ul>

				<div class="tab-content">
					<div id="summary" class="tab-pane show active" role="tabpanel">
						<div class="p-3">
							<div class=" form-group">
								<div class="row p-2">
									<div class="col-md-3 col-sm-4 font-weight-bold">[[#{NL012}]]</div>
									<div class="col-md-3 col-sm-3"
										th:text="${detail.cloudCover?:'-'}"></div>
									<div class="col-md-3 col-sm-2 font-weight-bold">[[#{NL013}]]</div>
									<div class="col-md-3 col-sm-3"
										th:text="${detail.dewPoint?:'-'}"></div>
								</div>
								<div class="row p-2">
									<div class="col-md-3 col-sm-3 font-weight-bold">[[#{NL014}]]</div>
									<div class="col-md-3 col-sm-3"
										th:text="${detail.humidity?:'-'}"></div>
									<div class="col-md-3 col-sm-3 font-weight-bold">[[#{NL015}]]</div>
									<div class="col-md-3 col-sm-3"
										th:text="${detail.pressure?:'-'}"></div>
								</div>
							</div>
							<div class=" form-group">
								<div class="row p-2">
									<div class="col-md-3 font-weight-bold">[[#{NL016}]]</div>
									<div class="col-md-3" th:text="${detail.moonPhase?:'-'}"></div>
									<div class="col-md-3 font-weight-bold">[[#{NL017}]]</div>
									<div class="col-md-3"
										th:text="${detail.nearestStormDistance?:'-'}"></div>
								</div>
								<div class="row p-2">
									<div class="col-md-3 font-weight-bold">[[#{NL018}]]</div>
									<div class="col-md-3" th:text="${detail.ozone?:'-'}"></div>
								</div>
							</div>
							<div class=" form-group">
								<div class="row p-2">
									<div class="col-md-3 font-weight-bold">[[#{NL019}]]</div>
									<div class="col-sm-3" th:text="${detail.uvIndex?:'-'}"></div>
								</div>
								<div class="row p-2">
									<div class="col-md-3 font-weight-bold">[[#{NL020}]]</div>
									<div class="col-sm-3"
										th:text="${detail.uvIndexTimeDisplay?:'-'}"></div>

								</div>
							</div>
						</div>
					</div>
					<div id="precip" class="tab-pane" role="tabpanel">
						<div class="p-3">
							<div class=" form-group">
								<div class="row p-2">
									<div class="col-md-3  font-weight-bold">[[#{NL021}]]</div>
									<div class="col-md-3 " th:text="${detail.precipIntensity?:'-'}"></div>
									<div class="col-md-3 font-weight-bold">[[#{NL022}]]</div>
									<div class="col-md-3 "
										th:text="${detail.precipIntensityError?:'-'}"></div>
								</div>
								<div class="row  p-2">
									<div class="col-md-3 font-weight-bold">[[#{NL023}]]</div>
									<div class="col-md-3"
										th:text="${detail.precipIntensityMax?:'-'}"></div>
									<div class="col-md-3 font-weight-bold">[[#{NL024}]]</div>
									<div class="col-md-3"
										th:text="${detail.precipIntensityMaxTimeDisplay?:'-'}"></div>
								</div>
							</div>
							<div class=" form-group">
								<div class="row p-2">
									<div class="col-md-3 font-weight-bold">[[#{NL025}]]</div>
									<div class="col-md-3 text-uppercase"
										th:text="${detail.precipType?:'-'}"></div>
								</div>
							</div>
						</div>
					</div>
					<div id="wind" class="tab-pane" role="tabpanel">
						<div class="p-3">
							<div class=" form-group">
								<div class="row p-2">
									<div class="col-sm-3 font-weight-bold">[[#{NL026}]]</div>
									<div class="col-sm-3" th:text="${detail.visibility?:'-'}"></div>
									<div class="col-sm-3 font-weight-bold">[[#{NL027}]]</div>
									<div class="col-sm-3" th:text="${detail.windBearing?:'-'}"></div>
								</div>
								<div class="row p-2">
									<div class="col-sm-3 font-weight-bold">[[#{NL028}]]</div>
									<div class="col-sm-3"
										th:text="${detail.windGustTimeDisplay?:'-'}"></div>
									<div class="col-sm-3 font-weight-bold">[[#{NL029}]]</div>
									<div class="col-sm-3" th:text="${detail.windSpeed?:'-'}"></div>
								</div>
							</div>
							<div class=" form-group">
								<div class="row p-2">
									<div class="col-sm-3 font-weight-bold">[[#{NL030}]]</div>
									<div class="col-sm-3" th:text="${detail.visibility?:'-'}"></div>
								</div>
							</div>
						</div>
					</div>
					<div id="temp" class="tab-pane" role="tabpanel">
						<div class="p-3">
							<div class=" form-group center">
								<div class="row">
									<table class="table-bordered text-center table-responsive-md table-sm temp-table">
										<thead>
											<tr>
												<th></th>
												<th scope="col">[[#{NL044}]]</th>
												<th scope="col">[[#{NL045}]]</th>
											</tr>
											<tr>
												<th scope="row">[[#{NL034}]]</th>
												<td th:text="${detail.temperatureLow?:'-'}"></td>
												<td th:text="${detail.temperatureLowTimeDisplay?:'-'}"></td>
											</tr>
											<tr>
												<th scope="row">[[#{NL031}]]</th>
												<td th:text="${detail.temperatureHigh?:'-'}"></td>
												<td th:text="${detail.temperatureHighTimeDisplay?:'-'}"></td>
											</tr>
											<tr>
												<th scope="row">[[#{NL037}]]</th>
												<td th:text="${detail.temperatureMin?:'-'}"></td>
												<td th:text="${detail.temperatureMinTimeDisplay?:'-'}"></td>
											</tr>
											<tr>
												<th scope="row">[[#{NL035}]]</th>
												<td th:text="${detail.temperatureMax?:'-'}"></td>
												<td th:text="${detail.temperatureMaxTimeDisplay?:'-'}"></td>
											</tr>

										</thead>
										<tbody>

										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
					<div id="appTemp" class="tab-pane" role="tabpanel">
						<div class="p-3 text-center">
							<div class=" form-group center">
								<div class="row">
									<table
										class="table-bordered text-center table-responsive-md table-sm temp-table">
										<thead>
											<tr>
												<th></th>
												<th scope="col">[[#{NL044}]]</th>
												<th scope="col">[[#{NL045}]]</th>
											</tr>
											<tr>
												<th scope="row">[[#{NL043}]]</th>
												<td th:text="${detail.apparentTemperature?:'-'}"></td>
												<td th:text="${detail.timeDisplay?:'-'}"></td>
											</tr>
											<tr>
												<th scope="row">[[#{NL040}]]</th>
												<td th:text="${detail.apparentTemperatureLow?:'-'}"></td>
												<td
													th:text="${detail.apparentTemperatureLowTimeDisplay?:'-'}"></td>
											</tr>
											<tr>
												<th scope="row">[[#{NL039}]]</th>
												<td th:text="${detail.apparentTemperatureHigh?:'-'}"></td>
												<td
													th:text="${detail.apparentTemperatureHighTimeDisplay?:'-'}"></td>
											</tr>
											<tr>
												<th scope="row">[[#{NL042}]]</th>
												<td th:text="${detail.apparentTemperatureMin?:'-'}"></td>
												<td
													th:text="${detail.apparentTemperatureMinTimeDisplay?:'-'}"></td>
											</tr>
											<tr>
												<th scope="row">[[#{NL041}]]</th>
												<td th:text="${detail.apparentTemperatureMax?:'-'}"></td>
												<td
													th:text="${detail.apparentTemperatureMaxTimeDisplay?:'-'}"></td>
											</tr>

										</thead>
										<tbody>

										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<footer class="container mt-4">
		<div class="row">
			<div class="col">
				<p class="text-center">
					Powered by <a href="https://darksky.net/poweredby/">Dark Sky</a>
				</p>
			</div>
		</div>
	</footer>

</body>

</html>